.discussion-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.discussion-header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.discussion-header h1 {
    font-size: 2em;
    font-weight: bold;
}

.discussion-header-buttons {
    display: flex;
    gap: 1em;
    align-items: center;
}